* {
  font-family: "Montserrat" !important;
}

.speakers_heading {
  text-transform: uppercase;
  font-weight: 600 !important;
}

.speakers_tagline {
  text-transform: uppercase;
  font-weight: 600 !important;
  color: #7451ff;
}

.webinar_heading {
  font-size: 1.4em !important;
  font-weight: 600 !important;
  margin-top: 24px !important;
  margin-bottom: 16px !important;
}

.inperson_heading {
  font-size: 1.4em !important;
  font-weight: 600 !important;
  margin-top: 44px !important;
  margin-bottom: 16px !important;
}

.speakers {
  padding-bottom: 120px;
}

.speakers_section {
  background-color: #060527;
}
