.sponsors {
  position: relative;
  padding-bottom: 120px;
  z-index: 1000;
  background-color: #060527;
}

.ball {
  position: absolute;
  top: -40%;
  left: -20%;
  width: 1000px;
  height: 1000px;
  z-index: -1;
}

.heading {
  .sponsors_heading {
    text-transform: uppercase;
    font-weight: 600 !important;
  }

  .sponsors_tagline {
    text-transform: uppercase;
    font-weight: 600 !important;
    color: #7451ff;
  }
}

.sponsor_cards {
  margin-top: 40px;
}

.card_top-section {
  gap: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 350px;
  }
}

.sponsor_card_container {
  width: 100%;
  text-align: center;

  p {
    font-size: 1.5em;
    font-weight: 500;
    margin-block-end: 15px;
  }
}

.sponsor_card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(133, 102, 255, 0.108);
  border-radius: 10px;

  width: 100%;
  height: 230px;
  background: linear-gradient(118.92deg, #0e0c33 0%, #1b0e40 100%),
    linear-gradient(
      270deg,
      rgba(133, 102, 255, 0.75) 0%,
      rgba(0, 0, 0, 0) 97.58%
    );

  img {
    height: 50%;
    width: 50%;

    object-fit: contain;
  }
}

.card_bottom-section {
  margin-top: 25px;
  background: linear-gradient(118.92deg, #0e0c33 0%, #1b0e40 100%),
    linear-gradient(
      270deg,
      rgba(133, 102, 255, 0.75) 0%,
      rgba(0, 0, 0, 0) 97.58%
    );
  border: 1px solid rgba(133, 102, 255, 0.108);
  border-radius: 10px;
  width: 90%;
  overflow-x: auto;
  height: 180px;
  font-weight: 500;
  padding: 20px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.other_sponsors {
  display: flex;
}

.sponsor_bottom {
  &:nth-child(1) {
    padding-left: 35px;
  }

  height: 100%;
  border-right: 1px solid #8566ff;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;

  p {
    font-size: 1em;
    text-align: center;
  }

  .logo {
  }

  .logo-mobile {
    display: none;
  }

  .logo_cms {
    width: 200px;
    height: 100px;
    text-align: center;

    img {
      width: 80px;
      margin-right: 20px;
    }
  }

  .logo-technews {
    width: 180px;
    height: 80px;
    text-align: center;

    img {
      width: 180px;
      margin-left: 20px;
      object-fit: contain;
    }
  }
}

.b-none {
  border: none;
}

@media only screen and (max-width: 955px) {
  .sponsors {
    padding-bottom: 120px;
  }

  .sponsor_cards {
    justify-content: center;
  }

  .card_bottom-section,
  .ball {
    width: 100%;
    margin-top: 50px;
  }

  .card_top-section {
    flex-direction: column;
    gap: 40px;
  }
}

@media only screen and (max-width: 733px) {
  .card_bottom-section {
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .sponsor_bottom {
      padding: 0px;
      border: none;
    }

    .logo-mobile {
      display: block;
      margin-top: 10px;

      img {
        height: 120px;
      }
    }

    .logo {
      display: none;
    }
  }

  .other_sponsors {
    flex-direction: column;

    p {
      margin-top: 30px;
    }
  }
}
