.sponsors {
  position: relative;
  padding: 108px;
  z-index: 1000;
}
.ball {
  position: absolute;
  top: -40%;
  left: -20%;
  width: 1000px;
  height: 1000px;
  z-index: -1;
}
.heading {
  h4 {
    font-size: 1.5em;
    text-transform: uppercase;
  }

  p {
    text-transform: uppercase;
    color: #7451ff;
  }
}
.sponsor_cards {
  margin-top: 40px;
}
.card_top-section {
  gap: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sponsor_card_container {
  width: 100%;
  text-align: center;

  p {
    font-size: 1em;
    font-weight: 500;
    margin-block-end: 15px;
  }
}
.sponsor_card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(133, 102, 255, 0.108);
  border-radius: 10px;

  width: 100%;
  height: 230px;
  background: linear-gradient(118.92deg, #0e0c33 0%, #1b0e40 100%),
    linear-gradient(
      270deg,
      rgba(133, 102, 255, 0.75) 0%,
      rgba(0, 0, 0, 0) 97.58%
    );

  img {
    height: 40%;
    width: 40%;

    object-fit: contain;
  }
}
.card_bottom-section {
  margin-top: 25px;
  background: linear-gradient(118.92deg, #0e0c33 0%, #1b0e40 100%),
    linear-gradient(
      270deg,
      rgba(133, 102, 255, 0.75) 0%,
      rgba(0, 0, 0, 0) 97.58%
    );
  border: 1px solid rgba(133, 102, 255, 0.108);
  border-radius: 10px;
  width: auto;
  height: 140px;
  font-weight: 500;
  padding: 20px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.other_sponsors {
  display: flex;
}

.sponsor_bottom {
  &:nth-child(1) {
    padding-left: 35px;
  }
  height: 100%;
  border-right: 1px solid #8566ff;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  .logo {
    background-color: white;
    width: 140px;
    height: 50px;
  }
}

.b-none {
  border: none;
}

@media only screen and (max-width: 955px) {
  .sponsors {
    padding: 50px;
  }

  .sponsor_cards {
    justify-content: center;
  }
  .card_bottom-section,
  .ball {
    width: 100%;
  }
  .card_top-section {
    flex-direction: column;
    gap: 70px;
  }
}
@media only screen and (max-width: 733px) {
  .card_bottom-section {
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sponsor_bottom {
      padding: 0px;
      border: none;
    }
  }
  .other_sponsors {
    flex-direction: column;
  }
}
