.speakerCard {
    background-size: cover;
    padding: 20px;
  }

.speaker_name {
    font-size: 1.2em !important;
    font-weight: 600 !important;
    line-height: 120% !important;
    padding-bottom: 2px;
}

.speaker_job {
    font-size: 0.8em !important;
}

@media (max-width: 608px) {
    .speakerCard {
      height: 80%;
      width: 80%;
    }
  }