.textf_bg {
  width: 100%;
  margin-top: 15px;
}

.textf_bg p {
  font-size: 1em;
  margin-bottom: 4px;
}
.label-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label-row h6 {
  color: rgb(247, 99, 99);
  font-weight: 400;
}
.textf_bg input {
  color: white;
  padding: 0px 15px;
  font-size: 1em;
  width: 100%;
  height: 45px;
  transition-duration: 0.2s;

  background: linear-gradient(118.92deg, #0e0c33 0%, #1b0e40 100%),
    linear-gradient(
      89.81deg,
      rgba(81, 61, 160, 0.75) -9.52%,
      rgba(81, 61, 160, 0) -2.77%,
      #513da0 97.39%
    );

  border-radius: 7px;
  border: 1px solid #8566ff32;
}
.textf_bg input:focus {
  outline: none;
  border-width: 2px;
  border-color: #896df932;
}
.textf_bg span {
  height: 100%;
  position: relative;
}
.postfix {
  position: absolute;
  font-size: 0.85em;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  right: -8%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
}
.eye {
  cursor: pointer;
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  right: 1%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}

.eye img {
  width: 15px;
  object-fit: cover;
}

@media (max-width: 680px) {
  .postfix {
    right: -12%; 
  }
}

@media (max-width: 430px) {
  .postfix {
    right: -20%; 
  }
}
